<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <!-- Required meta tags -->
    <title>library-system</title>
    <headlinks th:replace = "fragments/headlinks"></headlinks>
</head>

<body>
<div class="container-scroller">
    <div class="container-fluid">
        <div class="row mx-auto">
            <div class="content-wrapper  d-flex align-items-center mx-auto">
                <div class="card mx-auto my-5 ">
                    <div class="card-body px-5 py-4">
                        <h3 class="card-title text-left mb-3">Авторизация</h3>
                        <div th:if="${param.error}">
                            Invalid username and password.
                        </div>
                        <div th:if="${param.logout}">
                            You have been logged out.
                        </div>
                        <form th:action="@{/login}" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control p_input" name="username" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control p_input" name="password" placeholder="Password">
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <div class="form-check mr-3"><label><input type="checkbox" class="form-check-input">Запомнить меня</label></div>
                                <a href="#" class="forgot-pass">Забыли пароль?</a>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-block enter-btn">ВОЙТИ</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
