<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Просмотр</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

    <div th:replace="fragments\headlinks"></div>
</head>
<body>
<div class="container-fluid">
    <div th:replace="fragments\nav"></div>

    <div class="row">

        <div th:replace="fragments\ordersSlidebar"></div>

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            <input type="checkbox"/>Сотрудник <input type="checkbox"/> Поиск по № Заказа <input type="checkbox"/> Поиск по № ЧБ <br>
            <h4>Заказы читателей</h4><br>
            <input th:type="button" value="Выдать WWW"> <input th:type="button" value="Возратить"> <input th:type="button" value="Отложить"> В читальном зале   <input th:type="button" value="Обновить"><br>

            <div th:replace="tables/ordersTable"></div>
        </main>
    </div>
</div>
</body>
</html>