<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard Template for Bootstrap</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

    <div th:replace="fragments/headLinks"></div>
</head>

<body>
<div class="container-fluid">
    <div th:replace="fragments/nav"></div>

    <div class="row">

        <div th:replace="fragments/sidebar"></div>

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            <div><h3>Партии</h3></div>
            <div th:replace="tables/partiesTable"></div>
            <div><h3>Состав партии</h3></div>

            <div id = "error-control">
                <p id = "error-text" style="color: rgba(255,70,86,0.82)"></p>
            </div>

            <div th:replace="tables/booksTable"></div>
        </main>
    </div>
</div>
</body>
</html>