<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard Template for Bootstrap</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

    <div th:replace = "fragments/headLinks"></div>
</head>

<body>


<div class="container-fluid">
    <div th:replace = "fragments/nav"></div>

    <div class="row">

        <div th:replace = "fragments/sidebar"></div>

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3" >
            <a class="btn btn-info my-1 mx-1" href="/parties">Назад</a>

            <div class="card">
                <div class="card-body mx-auto my-1  mx-1">
                    <h5 class="card-title" th:text="'Данные партии #' + ${party.id} +' '+  ${party.name}"></h5>

                    <div class="form-group">
                        <label class="text-muted">Название</label>
                        <input type="text" th:value="${party.name}" class="form-control p_input" name="name" placeholder="Название" readonly>
                    </div>

                    <div class="form-group">
                        <label class="text-muted">Дата прихода</label>
                        <input type="date" th:value="${#dates.format(party.deliveryDate, 'yyyy-MM-dd')}"   class="form-control" name="deliverydate" placeholder="Дата прихода" readonly>
                    </div>

                    <div class="form-group">
                        <label class="text-muted">Тип источника</label>
                        <input type="text" th:value="${party.sourceDocType.name}"   class="form-control" name="deliverydate" placeholder="Тип источника" readonly>
                    </div>

                    <div class="form-group">
                        <label class="text-muted">Примечание</label>
                        <textarea class="form-control " th:text="${party.note}" name="note" placeholder="Примечание" readonly></textarea>
                    </div>

                    <div class="form-group">
                        <label class="text-muted">Дата по документу</label>
                        <input type="date" class="form-control" th:value="${#dates.format(party.dateByDoc, 'yyyy-MM-dd')}"  name="datebydoc" placeholder="Дата по документу" readonly>
                    </div>

                    <div class="form-group">
                        <label class="text-muted">Тип документа</label>
                        <input type="text" class="form-control" th:value="${party.docTypes.name}"  name="doctypes_id" placeholder="Тип документа" readonly>

                    </div>

                    <div class="form-group">
                        <label class="text-muted">Поставщики</label>
                        <input type="text" class="form-control" th:value="${party.provider.name}"  name="provider_id" placeholder="Поставщики" readonly>
                    </div>

                    <div class="form-group">
                        <label class="text-muted">Адрес</label>
                        <input type="text" class="form-control p_input" th:value="${party.address}" name="address" placeholder="Адрес" readonly>
                    </div>

                    <div class="form-group">
                        <label class="text-muted">Трансфер</label>
                        <input type="text" class="form-control p_input" th:value="${party.transfer}" name="transfer" placeholder="Трансфер" readonly>
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>
</body>
</html>