<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="_csrf" th:content="${_csrf.token}"/>
<!-- default header name is X-CSRF-TOKEN -->
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<!-- ... -->

<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}">

<link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.structure.css}">

<link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.theme.css}">

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/jquery-ui-1.12.1/jquery-ui.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/bootstrap.bundle.js}"></script>

<link type="text/css" rel="stylesheet" th:href="@{/js/jsGrid/jsgrid.min.css}" />
<link type="text/css" rel="stylesheet" th:href="@{/js/jsGrid/jsgrid-theme.min.css}" />

<script type="text/javascript" th:src="@{/js/jsGrid/jsgrid.min.js}"></script>
<script type="text/javascript" th:src="@{/js/DateFieldJsGrid.js}"></script>


<script>
    $(function () {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        $(document).ajaxSend(function(e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });
    });
</script>