<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">

    <ul class="nav nav-pills flex-column">
        <p class="item-header">Модели</p>
        <li class="nav-item">
            <a class="nav-link"  href="/books">Книги</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="/parties">Партии</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="/providers">Поставщики</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="/doctypes">Виды документов</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="/basicusers">Читатели</a>
        </li>
    </ul>

    <ul class="nav nav-pills flex-column">
        <p class="item-header">Комплектование</p>
        <li class="nav-item">
            <a class="nav-link"  href="">Ввод документов</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="#">Поиск</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="#">Книга выбытия фонда</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="#">Книга движения фонда</a>
        </li>
    </ul>

    <ul class="nav nav-pills flex-column">
        <p class = "item-header">Отчеты</p>
        <li class="nav-item">
            <a class="nav-link" href="#">Книга суммарного учета</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Акт инвентарной книги,передачи,Квитанция</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Контрольные показатели</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Отчеты</a>
        </li>
    </ul>

    <ul class="nav nav-pills flex-column">
        <p class = "item-header">Подписка-Периодика</p>
        <li class="nav-item">
            <a class="nav-link" href="#">Регистрация газет-журналов</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Отчеты по подписке</a>
        </li>
    </ul>

    <ul class="nav nav-pills flex-column">
        <p class = "item-header">Администрирование</p>
        <li class="nav-item">
            <a class="nav-link" href="#">Рабочий лист</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Справочники</a>
        </li>
    </ul>
</nav>