<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">

    <ul class="nav nav-pills flex-column">
        <p class="item-header">Модели</p>
        <li class="nav-item">
            <a class="nav-link"  href="/books">Книги</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="/books_categories">Категории</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="/books_maps">Карт.</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="/books_levels">Уровни</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="/parties">Партии</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="/providers">Поставщики</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="/doctypes">Типы документов</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="/basicusers">Читатели</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="/roles">Роли</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="/genders">Пол</a>
        </li>
    </ul>

    <ul class="nav nav-pills flex-column">
        <p class="item-header">Комплектование</p>
        <li class="nav-item">
            <a class="nav-link"  href="/complectation/inputDocuments">Ввод документов</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="/complectation/search">Поиск</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="#">Книга выбытия фонда</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"  href="#">Книга движения фонда</a>
        </li>
    </ul>

    <ul class="nav nav-pills flex-column">
        <p class = "item-header">Отчеты</p>
        <li class="nav-item">
            <a class="nav-link" href="/records">Книга суммарного учета</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Акт инвентарной книги,передачи,Квитанция</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/indicators">Контрольные показатели</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/reports">Отчеты</a>
        </li>
    </ul>

    <ul class="nav nav-pills flex-column">
        <p class = "item-header">Подписка-Периодика</p>
        <li class="nav-item">
            <a class="nav-link" href="#">Регистрация газет-журналов</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Отчеты по подписке</a>
        </li>
    </ul>

    <ul class="nav nav-pills flex-column">
        <p class = "item-header">Администрирование</p>
        <li class="nav-item">
            <a class="nav-link" href="#">Рабочий лист</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Справочники</a>
        </li>
    </ul>
</nav>