<nav id="sidebar">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Library System
                </a>
            </li>
            <li>
                <a href="#"></a>
            </li>
            <ul>
                <p class="item-header">Комплектование</p>
                <li>
                    <a href="#">Ввод документов</a>
                </li>
                <li>
                    <a href="#">Поиск</a>
                </li>
                <li>
                    <a href="#">Книга выбытия фонда</a>
                </li>
                <li>
                    <a href="#">Книга движения фонда</a>
                </li>
            </ul>

            <ul>
                <p class = "item-header">Отчеты</p>
                <li>
                    <a href="#">Книга суммарного учета</a>
                </li>
                <li>
                    <a href="#">Акт инвентарной книги,передачи,Квитанция</a>
                </li>
                <li>
                    <a href="#">Контрольные показатели</a>
                </li>
                <li>
                    <a href="#">Отчеты</a>
                </li>
            </ul>

            <ul>
                <p class = "item-header">Подписка-Периодика</p>
                <li>
                    <a href="#">Регистрация газет-журналов</a>
                </li>
                <li>
                    <a href="#">Отчеты по подписке</a>
                </li>
            </ul>

            <ul>
                <p class = "item-header">Администрирование</p>
                <li>
                    <a href="#">Рабочий лист</a>
                </li>
                <li>
                    <a href="#">Справочники</a>
                </li>
            </ul>



        </ul>
    </div>
</nav>