<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>library-system</title>
    <headlinks th:include = "fragments\headlinks"></headlinks>
</head>
<body>

        <div class="row mx-auto">
            <div class="content-wrapper  d-flex align-items-center mx-auto">
                <div class="card mx-auto my-5 ">
                    <div class="card-body px-5 py-4">
                        <h1 class="text-center">
                            Ошибка 403! Нет прав!
                        </h1>
                        <a class="btn btn-warning" href="/login">Выход</a>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>