<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Simple Sidebar - Start Bootstrap Template</title>
    <div th:replace = "fragments/headLinks"></div>
</head>

<body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
   <nav th:replace="fragments/sidebar :: nav"></nav>

    <div id="app" >
        <!-- /#page-content-wrapper -->
    </div>
<script src = "/js/vue.js"></script>
</body>

</html>
