<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Simple Sidebar - Start Bootstrap Template</title>
    <div th:replace = "fragments/headLinks"></div>
</head>

<body>


<nav th:replace="fragments/sidebar :: nav"></nav>

<div id="wrapper">
    <form method="post" th:action="@{/registerUser}">
        <input type="text" name="username">
        <input type="password" name="password">
        <input type="hidden"
               name="@{_csrf.parameterName}"
               value="@{_csrf.token}"/>
        <input type="submit">
    </form>
</div>

</body>

</html>
