<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard Template for Bootstrap</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

    <div th:replace="fragments/headLinks"></div>
</head>

<body>


<div class="container-fluid">
    <div th:replace="fragments/nav"></div>

    <div class="row">

        <div th:replace="fragments/sidebar"></div>

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">

            <div class="jumbotron">
                <h3 class="mb-0 text-center">
                    <p class="text-dark" href="#">Добавление книги</p>
                </h3>
                <form class="form horizontal-form" th:action="@{/books/add}" method="post">

                    <div class="form-group">
                        <input type="hidden" value="1" name="party_id">

                        <label class="text-muted">Название книги</label>
                        <input type="text" class="form-control p_input" name="name" placeholder="Название" required>

                        <label class="text-muted">Автор</label>
                        <input type="text" class="form-control p_input" name="author" placeholder="Автор" required>

                        <label class="text-muted">Отрасль</label>
                        <select class="form-control" name="category_id" placeholder="Отрасль" required
                                th:each="category : ${categories}">
                            <option th:text="${category.name}"
                                    th:value="${category.id}">text
                            </option>
                        </select>

                        <label class="text-muted">Издание</label>
                        <input type="text" class="form-control p_input" name="publisher" placeholder="Издание" required>

                        <label class="text-muted">Год</label>
                        <input type="number" min="1900" max="2099" step="1" class="form-control p_input" name="year"
                               placeholder="Год" required>

                        <label class="text-muted">Место издание</label>
                        <input type="text" class="form-control p_input" name="publisher_place"
                               placeholder="Место издание" required>

                        <label class="text-muted">№ Тома</label>
                        <input type="text" class="form-control p_input" name="tom_number" placeholder="№ Тома" required>

                        <label class="text-muted">Карта</label>
                        <select class="form-control p_input" name="map_id" placeholder="Карта" th:each="map : ${maps}">
                            <option th:label="${map.name}"
                                    th:value="${map.id}">
                            </option>
                        </select>

                        <label class="text-muted">Ур</label>
                        <select class="form-control p_input" name="level_id" placeholder="Ур" required
                                th:each="level : ${levels}">
                            <option th:value="${level.id}"
                                    th:label="${level.name}">
                            </option>
                        </select>

                        <label class="text-muted">Кол-во</label>
                        <input type="text" class="form-control p_input" name="count" placeholder="Кол-во" required>

                        <label class="text-muted">Цена</label>
                        <input type="text" class="form-control p_input" name="price" placeholder="Цена" required>

                        <label class="text-muted">№ передачи</label>
                        <input type="text" class="form-control p_input" name="transfer_number" placeholder="№ передачи"
                               required>


                    </div>

                    <div class="text-center">
                        <button type="submit" class="form-control btn-success">Добавить</button>
                    </div>
                </form>
            </div>

            <table class="table table-hover ">
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Название</th>
                    <th>Автор</th>
                    <th>№ передачи</th>
                    <th>Удалить</th>
                    <th>Обновить </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${books}">
                    <td th:text="${book.id}"></td>
                    <td th:text="${book.name}"></td>
                    <td><a th:text="${book.author}"></a></td>
                    <td><a th:text="${book.transferNumber}"></a></td>
                    <td><a th:href="@{/books/delete/{id}(id=${book.id})}">Удалить</a></td>
                    <td><a th:href="@{/books/update/{id}(id=${book.id})}">Обновить</a></td>
                </tr>
                </tbody>
            </table>
        </main>
    </div>
</div>
</body>
</html>